//page(ショップ情報)
.wp-block-group__inner-container{
    padding: 30px 20px;

    section{
        p{
            margin-top: 30px;
        }
        h3{
            margin-top: 34px;
        }
        h4{
            margin-top: 30px;
        }
        h5{
            margin-top: 29px;
        }
        h6{
            margin-top: 29px;
        }
    }
}

@media screen and(min-width:834px){
    .wp-block-group__inner-container{
        padding: 60px;
    
        section{
            p{
                margin-top: 60px;
            }
            h3{
                margin-top: 60px;
            }
            h4{
                margin-top: 59px;
            }
            h5{
                margin-top: 75px;
            }
            h6{
                margin-top: 59px;
            }
        }
    }   
}
@media screen and(min-width:1920px){
    .wp-block-group__inner-container{
        padding: 60px 100px 0 100px;
        width: 80%;
    }   
}

blockquote{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    background-color: #F5F5F5;

    p{
        padding: 30px 16px 30px 20px;
    }

    cite{
        padding-left: 20px;
        padding-bottom: 30px;
    }
}
@media screen and(min-width:834px){
    blockquote{
        padding-bottom: 60px;
        
        p{
            padding: 50px 26px 60px 30px;
        }
    
        cite{
            padding-left: 50px;
            padding-bottom: 60px;
        }
    }
}

.main__img--top{
    padding-left: 20px;
    padding-right: 20px;
   
    figure{
        img{
            height: 124px;
        }
    }
}
@media screen and(min-width:834px){
    .main__img--top{
        padding-left: 60px;
        padding-right: 60px;
        margin-bottom: 60px;
       
        figure{
            img{
                height: 264px;
            }
        }
    }
}
@media screen and(min-width:1920px){
    .main__img--top{
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 60px;
        width: 80%;

        figure{
            img{
                height: 500px;
            }
        }
    }
}
.main__column--top{
    height: 176px;
    padding-left: 20px;
    padding-right:20px;
    margin-bottom: 30px;
    position: relative;

    figure{
        img{
            position: absolute;
            height: 89px;
            width: 38.4%;
            top: 0;
        }
    }

    .wp-block-media-text__content{
        position: absolute;
        top: 0;
        padding: 0;

        p{
            overflow: hidden;
            height: 176px;
            padding-right:20px;
        }
    }
}
@media screen and(min-width:834px){
    .main__column--top{
        height: 373px;
        padding-left: 60px;
        padding-right:60px;
        margin-bottom: 117px;
       
        figure{
            img{
                height: 189px;
                width: 42.8%;
            }
        }
        .wp-block-media-text__content{
            p{
                height: 373px;
                padding-right:60px;
                padding-left: 21px;
            }
        }
    }
}
@media screen and(min-width:1920px){
    .main__column--top{
        height: 358px;
        padding-left: 100px;
        padding-right:100px;
        width: 80%;
        margin-bottom: 60px;
       
        figure{
            img{
                height: 358px;
                width: 42.8%;
            }
        }
        .wp-block-media-text__content{
            p{
                height: 358px;
                padding-right:100px;
                padding-left: 41px;
            }
        }
    }
}

.main__column--bottom{
    height: 176px;
    padding-left: 20px;
    padding-right:20px;
    margin-bottom: 30px;
    position: relative;

    figure{
        img{
            position: absolute;
            height: 89px;
            width: 38.4%;
            top: 0;
            right: 20px;
        }
    }

    .wp-block-media-text__content{
        position: absolute;
        top: 0;
        padding: 0;

        p{
            overflow: hidden;
            height: 176px;
            width: 49%
        }
    }
}
@media screen and(min-width:834px){
    .main__column--bottom{
        height: 373px;
        padding-left: 60px;
        padding-right:60px;
        margin-bottom: 61px;
    
        figure{
            img{
                height: 189px;
                width: 42.8%;
                right: 60px;
            }
        }
    
        .wp-block-media-text__content{
            p{
                height: 373px;
                width: 45%
            }
        }
    }
}
@media screen and(min-width:1920px){
    .main__column--bottom{
        height: 358px;
        padding-left: 100px;
        padding-right:100px;
        margin-bottom: 60px;
        width: 80%;
    
        figure{
            img{
                height: 358px;
                width: 42.8%;
                right: 100px;
            }
        }
    
        .wp-block-media-text__content{
            p{
                height: 358px;
                width: 45%
            }
        }
    }
}

.main__img--bottom{
    padding-left: 54px;
    padding-right: 54px;
   
    figure{
        img{
            height: 166px;
            width: 100%;
        }
    }
}
@media screen and(min-width:834px){
    .main__img--bottom{
        padding-left:127px; 
        padding-right: 127px;
       
        figure{
            img{
                height: 358px;
            }
        }
    }
}
@media screen and(min-width:1920px){
    .main__img--bottom{
        padding-left:486px; 
        padding-right: 486px;
        width: 80%;
    }
}

.gallery{
    padding-right: 20px;
    padding-left: 20px;

    &__item{
        height:205px;
        
        figure{
            img{
                height:205px;
            }
        }
    }
}
@media screen and(min-width:834px){
    .gallery{
        padding-right: 60px;
        padding-left: 60px;
        display: flex;
        flex-wrap: wrap;

        &__item{
            width: 50%;
            padding: 8px;
        }
    }
}
@media screen and(min-width:1920px){
    .gallery{
        width: 80%;
        padding-right: 100px;
        padding-left: 100px;

        &__item{
            width: 33.3%;
            height:257px;
            padding: 10px;

            figure{
                img{
                    height:257px;
                }
            }
        }
    }
}

.secondary1__list--top{
    padding-left: 20px;
    padding-top: 30px;

    ol{
        margin-bottom: 20px;
        padding-left: 20px;
    }
    li{
        list-style-type: decimal;
    }

    .secondary1__list__item--top{
        padding-left: 38px;
    }
}

.secondary1__list--bottom{
    padding-left: 20px;
    padding-top: 40px;

    ul{
        margin-bottom: 20px;
    }

    .secondary1__list__item--bottom{
        padding-left: 18px;
    }
}
@media screen and(min-width:834px){
    .secondary1__list--top{
        padding-left: 60px;
        padding-top: 60px;
    
        ol{
            padding-left: 50px;
        }

        .secondary1__list__item--top{
            padding-left: 68px;
        }
    }
    
    .secondary1__list--bottom{
        padding-left: 60px;
        padding-top: 60px;
    
        ul{
            padding-left: 48px;
        }
    
        .secondary1__list__item--bottom{
            padding-left: 68px;
        }
    }
}
@media screen and(min-width:1920px){
    .secondary1__list--top{
        padding-left: 100px;
        width: 80%;
    }
    
    .secondary1__list--bottom{
        padding-left: 100px;
        width: 80%;
    }
}

.secondary2__link{
    margin-left: 20px;
    margin-right: 20px;
    width: 89.6%;
    height: 237px;
    background-color: #F5F5F5;

    pre{
        padding: 50px;

        code{
            line-height: 1.43;
        }
    }
}
@media screen and(min-width:834px){
    .secondary2__link{
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 60px;
        width: 85.6%;
    }
}
@media screen and(min-width:1920px){
    .secondary2__link{
        margin-left: 100px;
        width: 70%;
    }
}

.secondary3__table{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    
    table{
        border:1px solid #707070; 
        border-collapse: collapse;
        background-color:#fff; 
        height: 305px;

        tbody{

            tr{
                border:1px solid #707070;
                
                td{
                    border:1px solid #707070;
                    width: 40%; 
                    padding-left: 30px;
                }
            }
        }

    }
}
@media screen and(min-width:834px){
    .secondary3__table{
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 60px;
        margin-bottom: 60px;
        
    }
}
@media screen and(min-width:1920px){
    .secondary3__table{
        padding-left: 100px;
        padding-right: 100px;
        width: 80%;
        margin-top: 50px;
    }
}

.secondary4__button{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    height: 81px;
    width: 335px;

    .wp-block-button__link{
        height: 81px;
        padding: 30px;
        border-radius: 20px;
        border: solid 1px #707070;
    }
}
@media screen and(min-width:834px){
    .secondary4__button{
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 60px;
        height: 104px;
        width: 429px;
    
        .wp-block-button__link{
            height: 104px;
            padding: 41px;
        }
    }   
}
@media screen and(min-width:1920px){
    .secondary4__button{
        margin-left: 100px;
    }   
}

.secondary5__text{
    padding-left: 20px;
    margin-bottom: 177px;
}
@media screen and(min-width:834px){
    .secondary5__text{
        padding-left: 60px;
        margin-bottom: 228px;
    }   
}
@media screen and(min-width:1920px){
    .secondary5__text{
        padding-left: 100px;
        margin-bottom: 352px;
    }   
}